.btn {
  font-family: $oxan;
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;

  &-wrap {
    display: inline-block;

    &:hover {
      & > .top-line {
        &::before {
          left: 100%;
        }
      }

      & > .bottom-line {
        &::before {
          right: 100%;
        }
      }
    }

    a:hover > .cursor {
      animation: blinkingText 1.2s infinite;
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: var( --c_white );
      position: absolute;
      right: 11px;
    }

    .top-line,
    .bottom-line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var( --c_white );
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        top: -4px;
        border: 1px solid var( --c_white );
      }
    }

    .top-line {
      &::before {
        left: -8px;
        transition: transit( left );
      }
    }

    .bottom-line {
      &::before {
        right: -8px;
        transition: transit( right );
      }
    }
  }

  @include colored-links( c_white, c_white, c_white );

  &-primary {
    @include colored-links( c_blue, c_blue, c_blue );

    &:hover {
      color: var( --c_blue );
    }
  }

  &-edge {
    border: 1px solid var( --c_blue );

    @include colored-links( c_blue, c_yellow, c_blue );
  }
}

.wrap-primary {
  .top-line,
  .bottom-line {
    background-color: var( --c_blue );

    &::before {
      border: 1px solid var( --c_blue );
    }
  }
}

.wp-block-button {
  &__link {
    background-color: var( --c_blue );

    &:hover {
      background-color: var( --c_yellow );
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      &:hover {
        background-color: var( --c_white );
      }
    }

    a {
      border-color: var( --c_blue );

      @include colored-links( c_blue, c_yellow, c_blue );

      &:hover {
        border-color: var( --c_yellow );
      }
    }
  }
}
