/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

fieldset {
  border: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
textarea {
  border: 1px solid var( --c_blue );
  padding: 14px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type='submit'] {
  @extend .btn;
  @extend .btn-edge;
}

input[type='checkbox'] {
  width: unset;
  position: relative;
  margin-right: 1ch;
  cursor: pointer;

  & + label {
    cursor: pointer;
  }

  &::before {
    content: '';
    background-color: var( --c_white );
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var( --c_blue );
  }

  &:checked::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 900;
    color: var( --c_blue );
  }
}

.grecaptcha-badge {
  bottom: 54px !important;
}
