@import 'squares-list';
@import 'hero-images-slider';
@import 'latest-blog-posts';
@import 'contact-form';
@import 'theme-demos';
@import 'theme-demos-large';

.section-title {
  text-align: center;
  margin: 0 0 50px;
  color: var( --c_blue );
  font-size: 5vmin;
}

.wp-block-cover-text {
  background-color: rgba( white, 0.4 );
  backdrop-filter: blur( 3px );
}

.ava-block {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
