.contact-form {
  @include bp( 1 ) {
    @include half( padding, 50, 0, 50, 0, 2 );
  }

  @include bp( 1024 ) {
    padding: 50px 0;
  }

  &-wrapper {
    width: 80%;
    max-width: 400px;

    @include center-block;
  }

  .frm_fields_container {
    display: block;

    .frm {
      &_form_field {
        position: relative;
        padding: 20px 0;

        label {
          position: absolute;
          top: 0;
          font-weight: 700;
          font-family: $oxan;
          text-transform: uppercase;
          font-size: 14px;
          color: var( --c_blue );
        }
      }

      &_submit {
        text-align: center;
      }

      &_button_submit {
        @extend .btn;
        @extend .btn-primary;

        font-size: 16px;
        line-height: 1;
        border: 0;
        background-color: var( --c_blue );
        cursor: pointer;

        @include colored-links( c_white, c_white, c_white );
      }

      &_error {
        color: var( --c_pink );
        font-size: 14px;
      }
    }
  }

  .frm_screen_reader {
    display: none;
  }
}

.frm_error_style {
  color: var( --c_pink );
  margin-bottom: 20px;
}
