.hero-images-slider {
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  .hero {
    &-slide {
      display: block;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;

      &.slick-activ.e {
        .hero {
          &-title {
            transform: scale( 1 );
            //animation: scaleTitle 8s 1 ease-in-out;
          }

          &-text {
            transform: scale( 1 );
          }
        }

        .btn-wrap {
          transform: translateY( 0 );
        }
      }
    }

    &-content {
      color: c_white;
      text-align: center;
      padding: 2vw;
      box-sizing: border-box;
      backdrop-filter: blur( 3px );

      @supports not ( backdrop-filter: blur( 3px ) ) {
        background-color: rgba( black, 0.3 );
      }

      @include absmid( 'b' );

      width: auto;
    }

    &-title {
      color: var( --c_white );
      text-transform: uppercase;
      font-size: calc( 30px + 2vw );
      margin-top: 0;
      margin-bottom: 2vh;
      line-height: 1;
    }

    &-text {
      color: var( --c_white );
      font-size: calc( 14px + 1vw );
      max-width: 600px;
      font-weight: 300;
      margin-bottom: 2vh;
      line-height: 1;

      @include center-block;
    }
  }

  #scroll-hero-image {
    @extend .btn;

    @include absmid( 'h' );

    border: 0;
    bottom: 0;
    font-size: 28px;

    a {
      @include colored-links( white, c_blue, white );
    }
  }
}
