.latest-blog-posts {
  background-color: var( --c_eee );

  &-wrapper {
    max-width: 1200px;
    overflow-x: hidden;

    @include center-block;
  }

  @include bp( 1 ) {
    @include half( padding, 50, 0, 50, 0, 2 );
  }

  @include bp( 1024 ) {
    padding: 50px 0;
  }

  .section-title {
    text-align: center;
  }

  .post-thumbnail {
    img {
      @include center-block;
    }
  }

  .article-content {
    @include bp( 1, 1023 ) {
      text-align: center;
    }
  }

  .post-content {
    @include bp( 1, 1023 ) {
      @include half( padding, 0, 20, 0, 20, 1 );
    }

    @include bp( 1024 ) {
      padding: 0;
    }
  }

  .summary {
    @include bp( 1024, 1439 ) {
      padding-right: 40px;
    }
  }

  .entry-meta {
    display: grid;
    grid-template-columns: repeat( 2, auto );
    grid-template-rows: 1fr;
    align-items: center;
    font-size: 14px;
  }

  .ava-grid {
    @include bp( 1 ) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat( 2, auto );
      grid-gap: 20px;
    }

    @include bp( 1024 ) {
      grid-template-columns: minmax( 200px, 512px ) 1fr;
      grid-template-rows: minmax( 200px, 512px );
      align-items: center;
    }
  }

  .btn-wrap {
    margin-top: 50px;
  }
}
