.squares-list {
  overflow-x: hidden;

  .title {
    text-transform: uppercase;

    &-wrapper {
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 400px;
      position: relative;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }

  .squares {
    display: block;
    float: left;
    width: 100%;
    clear: both;

    &-2 {
      .square {
        @include bp( 1024 ) {
          width: 48%;
          float: left;
        }

        &:last-of-type {
          float: right;
        }
      }
    }
  }

  .square {
    box-sizing: border-box;
    position: relative;

    .underlay {
      position: absolute;
      background-color: rgba( black, 0.2 );
      backdrop-filter: blur( 3px );
      width: 100%;
      height: 100%;

      @include absmid( 'v' );
    }

    h3.title {
      margin: 0;
      text-align: center;
      color: var( --c_white );
      width: 100%;
      z-index: 2;

      @include absmid( 'v' );

      @include bp( 1 ) {
        font-size: 35px;
      }

      @include bp( 1166 ) {
        font-size: 3vw;
      }
    }

    &-contents {
      @include bp( 1 ) {
        @include half( padding, 50, 0, 50, 0, 2 );
      }

      @include bp( 1024 ) {
        padding: 50px 0;
      }
    }

    .text,
    .long-summary,
    &-bullet-point {
      margin: 10px 0;
      padding: 10px 20px 10px 15px;
      position: relative;
      letter-spacing: 1.2px;
      line-height: 1.6;
      max-width: 800px;

      @include center-block;

      .fas {
        position: absolute;
        margin-left: -15px;
        top: 14px;
      }
    }

    .more-text {
      padding: 17px 0;
      display: block;
      cursor: pointer;
    }
  }
}
