.theme-demos {
  &-wrapper {
    padding: 0 0 50px;
  }

  .title {
    text-transform: uppercase;

    &-wrapper {
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 400px;
      position: relative;
      margin-bottom: 50px;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }

  .text-area {
    max-width: 1200px;
    margin-bottom: 50px;

    @include center-block;

    @include bp( 1, 1250 ) {
      padding: 0 20px;
    }
  }

  h3.title {
    margin: 0;
    text-align: center;
    color: var( --c_white );
    width: 100%;
    z-index: 2;

    @include absmid( 'v' );

    @include bp( 1 ) {
      font-size: 35px;
    }

    @include bp( 1166 ) {
      font-size: 3vw;
    }
  }

  .underlay {
    position: absolute;
    background-color: rgba( black, 0.2 );
    backdrop-filter: blur( 3px );
    width: 100%;
    height: 100%;

    @include absmid( 'v' );
  }

  .themes-demo {
    &.slick-slider {
      margin-bottom: 60px;
    }

    &-wrapper {
      padding-bottom: 1px;
    }

    .slick-dots {
      bottom: -55px;
    }
  }

  .theme-demo {
    position: relative;
  }

  img {
    @include center-block;
  }

  .description {
    max-width: 50%;
    font-family: $sans;
    font-style: italic;
    font-size: 14px;
    background-color: rgba( #eee, 0.9 );
    padding: 1em 1em 1em 3em;
    position: absolute;
    bottom: 0;

    @include absmid( 'h' );
    @include center-block;

    .fas {
      position: absolute;
      left: 1em;
      color: $blue;
    }
  }

  .btn-wrapper {
    margin-top: 30px;
    display: block;
    text-align: center;
  }
}
