.theme-demos-large {
  @include bp( 1 ) {
    padding: 50px 0 0;
  }

  .themes-demos {
    @include bp( 1 ) {
      max-width: 90%;
    }

    @include bp( 1340 ) {
      max-width: 1200px;
    }

    @include center-block;
  }

  .theme-demo {
    display: grid;
    margin-bottom: 150px;

    @include bp( 1 ) {
      grid-template-columns: auto;
    }

    @include bp( 1024 ) {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 1fr;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }

    img {
      @include bp( 1024 ) {
        margin: unset;
      }
    }
  }

  .image {
    align-self: start;

    @include bp( 1, 1023 ) {
      margin-bottom: 50px;
    }
  }

  .properties {
    @include bp( 1024 ) {
      margin-left: 50px;
    }

    h3 {
      margin-top: 0;
    }

    .property {
      display: block;
      margin-bottom: 5px;
      position: relative;
      margin-left: 2em;

      .fas {
        color: $blue;
        font-size: 12px;
        position: absolute;
        left: -2em;
        top: 5px;
      }
    }
  }

  .btn-wrapper {
    margin-top: 50px;

    @include bp( 1024 ) {
      grid-area: -1 / 1;
      grid-column: span 2;
    }
  }

  .contact-form {
    background-color: #eee;
  }
}
