footer.content-info {
  float: left;
  width: 100%;
  color: var( --c_white );
  background-color: var( --c_blue );
  text-align: center;

  @include bp( 1 ) {
    // element, top, right, bottom, left, divider
    @include half( padding, 40, 0, 40, 0, 2 );
  }

  @include bp( 1024 ) {
    padding: 20px 0;
  }

  .container {
    @include bp( 1 ) {
      max-width: 80%;
    }

    @include bp( 1250 ) {
      max-width: 1200px;
    }

    @include center-block;
  }

  a {
    @include colored-links( c_white, c_yellow, c_white );
  }

  .copyright-design {
    @include bp( 1 ) {
      padding: 15px 0;
      font-size: 14px;
    }

    @include bp( 1024 ) {
      display: flex;
      justify-content: center;
      padding: 15px 0 0;
    }
  }

  .sep {
    margin: 0 10px;

    @include bp( 1, 1023 ) {
      display: none;
    }
  }

  .copyright {
    @include bp( 1 ) {
      margin-bottom: 10px;
    }

    @include bp( 1024 ) {
      justify-self: end;
    }
  }

  .designer {
    @include bp( 1024 ) {
      justify-self: start;
    }
  }
}

.footer-navigation {
  display: grid;

  @include bp( 1 ) {
    grid-template-columns: repeat( 2, 1fr );
  }

  @include bp( 1024 ) {
    grid-template-columns: 2fr 1fr;
  }

  .social-icons {
    @include bp( 1 ) {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 48px;
    }

    @include bp( 1024 ) {
      grid-template-columns: repeat( auto-fit, 48px );
      justify-content: end;
    }
  }
}

.footer-menu {
  .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      padding: 14.5px 0;
      display: inline-block;
    }

    @include bp( 1024 ) {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax( 100px, 1fr ) );
    }
  }
}
