// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.banner {
  position: fixed;
  top: 0;
  z-index: 9;
  float: left;
  width: 100%;
  clear: both;
  background: linear-gradient( 75deg, rgba( white, 0.6 ) 30%, rgba( white, 0 ) 50% );
  box-shadow: 0 5px 5px rgba( black, 0.2 );

  @include bp( 1, 1023 ) {
    position: fixed;
    top: 0;
  }

  @include bp( 1024 ) {
    padding: 20px 0;
    transition: transit( background-color ), transit( padding );
  }

  &.scrolled {
    background: var( --c_white );
  }

  .container {
    max-width: 1200px;

    @include center-block;
  }
}

.site-logo {
  float: left;

  .navbar-brand {
    float: left;

    a,
    img {
      display: block;
    }
  }
}

.brand {
  //position: absolute;
  //clip: rect( 1px, 1px, 1px, 1px );
  font-family: $oxan;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 9px;
  display: inline-block;

  @include var( color, c_blue );
}

.custom-logo-link {
  img {
    width: auto;
    height: 54px;
  }
}

.page-header-image {
  display: grid;
  grid-template-columns: 1fr;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 5vmin;
  color: c_white;
  text-transform: uppercase;
  min-height: 48vh;

  &.has-no-thumbnail {
    background-size: contain;
  }

  .page-header {
    &-wrapper {
      background-color: rgba( black, 0.4 );
      align-self: center;
      height: 100%;
      display: grid;
      align-content: center;
    }
  }

  h1 {
    margin: 0;
  }
}
