pre {
  white-space: pre-wrap;
}

.page-header-wrapper {
  text-align: center;
  margin: 50px 0;
  font-size: 22px;
  color: var( --c_blue );
}

.wrap {
  overflow: hidden;

  .main {
    max-width: 1200px;

    @include center-block;

    @include bp( 1, 1250 ) {
      padding: 0 20px;
    }
  }
}
