.articles-grid {
  max-width: 1200px;

  @include center-block;

  .post {
    @include bp( 1 ) {
      max-width: 90%;
      text-align: center;
      margin-bottom: 40px;
      box-shadow: 0 5px 5px rgba( $blue, 0.2 );

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      @include center-block;
    }

    @include bp( 768 ) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat( 3, auto );
      gap: 0 30px;
      grid-template-areas:
        'image content1'
        'image content2'
        'image content3';
    }

    @include bp( 1250 ) {
      max-width: unset;
    }

    .post-thumbnail {
      @include bp( 768 ) {
        grid-area: image;
        display: grid;
      }

      img {
        @include bp( 768 ) {
          align-self: center;
        }
      }
    }

    header {
      @include bp( 768 ) {
        grid-area: content1;
      }
    }

    .entry {
      &-title {
        @include bp( 1 ) {
          text-align: center;
        }

        @include bp( 768 ) {
          text-align: left;
        }
      }

      &-meta {
        @include bp( 1 ) {
          display: grid;
          grid-template-columns: repeat( 2, auto );
          grid-template-rows: 1fr;
          align-items: center;
          font-size: 14px;
          text-align: center;
        }

        @include bp( 768 ) {
          text-align: left;
        }
      }

      &-summary {
        text-align: left;
        margin-bottom: 40px;

        @include bp( 768 ) {
          grid-area: content2;
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
    }

    .btn-wrap {
      @include bp( 768 ) {
        grid-area: content3;
        justify-self: start;
        align-self: start;
      }
    }
  }
}

.posts-navigation {
  max-width: 1200px;
  margin: 50px 0;

  @include center-block;

  .nav {
    &-links {
      display: grid;
      grid-template-columns: repeat( 2, 1fr );
      grid-template-areas: 'previous next';
    }

    &-previous {
      grid-area: previous;
    }

    &-next {
      grid-area: next;
      justify-self: end;
    }
  }
}

.single {
  .container {
    max-width: 1450px;

    @include center-block;
  }

  .content {
    @include bp( 1, 1249 ) {
      max-width: 90%;

      @include center-block;
    }

    @include bp( 1200 ) {
      display: grid;
      grid-template-columns: auto 300px;
      grid-template-rows: repeat( 2, auto );
      grid-template-areas:
        'post sidebar'
        'post sidebar';
      gap: 50px;
    }
  }

  article {
    @include bp( 1024 ) {
      display: grid;
      grid-template-columns: 150px auto;
      grid-template-rows: auto auto;
      gap: 50px;
    }

    header {
      grid-area: 1 / 1;
    }

    .entry-content {
      grid-area: 1 / 2;

      * {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .comments {
      grid-area: -1 / span 2;

      #respond {
        align-self: center;
        max-width: 400px;

        @include center-block;
      }
    }

    footer {
      grid-area: 2 / span 2;
      clear: both;
    }
  }
}

.page-navigation {
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-template-areas: 'previous next';
  grid-column: 2 / span 2;

  .prev-link {
    grid-area: previous;
  }

  .next-link {
    grid-area: next;
    justify-self: end;
  }
}

figcaption {
  background-color: var( --c_ddd );
  padding: 1em;
}
