.sidebar {
  @include bp( 1, 1023 ) {
    margin-top: 50px;
  }

  @include bp( 1024, 1199 ) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 50px;
  }

  .widget {
    h3 {
      margin-top: 0;
    }

    @include bp( 1200 ) {
      margin-bottom: 40px;
    }
  }
}
