.animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
  opacity: 0;
  //animation-iteration-count: infinite;
}

@keyframes blinkingText {
  0% { opacity: 0; }
  49% { opacity: 0; }
  60% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes scaleTitle {
  from {
    transform: scale( 1 ) translate( 0 );
  }

  to {
    transform: scale( 1.3 ) translate( 0 );
  }
}
