body {
  font-family: $sans;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrap {
  float: left;
  width: 100%;

  @include bp( 1 ) {
    margin-top: 94px;
  }

  .home & {
    margin-top: 0;
  }
}
