// Slick Carousel font path
$slick-font-path: '~slick-carousel/slick/fonts/';

// Slick Carousel ajax-loader.gif path
$slick-loader-path: '~slick-carousel/slick/';

$sans: 'Lato', sans-serif;
$serif: 'PT Serif', serif;
$oxan: 'Oxanium', cursive;

/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

$blue: #1781c4;

$vars: (
  'c_white': c_white,
  'c_black': c_black,
  'c_blue': #1781c4,
  'c_pink': #de0a82,
  'c_aaa': #aaa,
  'c_bbb': #bbb,
  'c_ccc': #ccc,
  'c_ddd': #ddd,
  'c_eee': #eee,
  'c_yellow': invert( #1781c4 )
);

:root {
  --c_white: white;
  --c_black: black;
  --c_blue: #1781c4;
  --c_pink: #de0a82;
  --c_aaa: #aaa;
  --c_bbb: #bbb;
  --c_ccc: #ccc;
  --c_ddd: #ddd;
  --c_eee: #eee;
  --c_yellow: #{map-get( $vars, c_yellow )};
}
