.navbar {
  @include bp( 1, 1023 ) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    &.open {
      position: fixed;
    }
  }
}

.home {
  .main-navigation {
    .main-menu {
      .fas {
        @include bp( 1024 ) {
          color: var( --c_white );
        }
      }

      ul {
        li {
          a {
            @include bp( 1024 ) {
              @include colored-links( c_white, c_white, c_white );
            }
          }

          ul {
            background-color: rgba( black, 0.7 );

            li {
              &:hover > ul {
                @include bp( 1024 ) {
                  visibility: visible;
                  top: 0;
                  opacity: 1;
                }
              }
            }
          }

          &:hover > a {
            @include bp( 1024 ) {
              @include colored-links( $blue, c_yellow, $blue );

              background-color: rgba( $blue, 0.1 );
            }
          }

          &:hover > ul {
            @include bp( 1024 ) {
              visibility: visible;
              top: 48px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.main-navigation {
  font-family: $oxan;

  @include bp( 1, 1023 ) {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    &.open {
      left: 0;

      a {
        @include colored-links( c_black, c_black, c_black );
      }
    }
  }

  @include bp( 1024 ) {
    display: flex;
    justify-content: space-between;
  }

  .main-menu {
    position: relative;
    z-index: 2;

    @include bp( 1024 ) {
      margin-left: 2em;
      max-width: 730px;
    }

    .fas {
      @include bp( 1, 1023 ) {
        margin-left: 10px;
      }

      @include bp( 1 ) {
        vertical-align: top;
        padding: 10px 10px 20px 10px;
      }

      @include bp( 1024 ) {
        position: absolute;
        top: 0;
        right: 0;
        color: $blue;
      }
    }

    ul.navbar-nav {
      & > li > .fas {
        right: -10px;
      }
    }

    ul {
      list-style-type: none;
      text-transform: uppercase;
      margin: 4px 0 0;
      padding: 0;

      li {
        position: relative;

        @include bp( 1024 ) {
          display: inline-block;
        }

        a {
          padding: 14px 1em;
          display: inline-block;

          @include bp( 1024 ) {
            //@include colored-links( c_white, c_white, c_white );
          }
        }

        &:hover > a {
          @include bp( 1024 ) {
            background-color: rgba( $blue, 0.1 );
          }
        }

        &:hover > ul {
          @include bp( 1024 ) {
            visibility: visible;
            top: 48px;
            opacity: 1;
          }
        }

        ul {
          @include bp( 1, 1023 ) {
            display: none;
            margin-left: 20px;
          }

          @include bp( 1024 ) {
            position: absolute;
            width: 200px;
            visibility: hidden;
            margin: 0;
            opacity: 0;
            top: 0;
            left: 0;
            transition: transit( all );
            transition-delay: 500ms;
            background-color: rgba( white, 0.7 );
            box-shadow: 0 4px 5px rgba( black, 0.5 );

            @supports not ( backdrop-filter: blur( 3px ) ) {
              background-color: rgba( white, 0.2 );
            }
          }

          li {
            @include bp( 1024 ) {
              display: block;
            }

            &:hover > ul {
              @include bp( 1024 ) {
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 1;
              }
            }

            a {
              @include bp( 1024 ) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .social-menu {
    @include bp( 1, 1023 ) {
      position: absolute;
      bottom: 50px;
    }
  }
}

.navbar-toggler {
  @include bp( 1024 ) {
    display: none;
  }
}

.hamburger {
  @include bp( 1, 1023 ) {
    position: relative;
    z-index: 10;
    padding: 15px 17px;
    float: right;
  }

  @include bp( 1024 ) {
    display: none;
  }
}

.nav-underlay {
  &-bottom,
  &-left {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-bottom {
    background-color: var( --c_blue );

    &.animated-in,
    &.animated-out {
      left: 0;
    }
  }

  &-left {
    background-color: var( --c_white );

    &.animated-in,
    &.animated-out {
      left: 0;
    }
  }
}

.scrolled {
  &.banner {
    @include bp( 1024 ) {
      padding: 0;
    }
  }

  .main-menu {
    ul {
      &.navbar-nav {
        & > li > .fas {
          color: var( --c_blue );
        }
      }

      li {
        &:hover > a {
          @include bp( 1024 ) {
            background-color: rgba( black, 0.1 );
          }
        }

        a {
          @include colored-links( c_blue, c_blue, c_blue );
        }

        ul {
          background-color: rgba( black, 0.6 );

          li {
            a {
              @include colored-links( c_white, c_white, c_white );
            }
          }
        }
      }
    }
  }

  .social-menu {
    a {
      @include colored-links( c_blue, c_yellow, c_blue );
    }
  }
}

.home .scrolled {
  .main-menu {
    ul {
      &.navbar-nav {
        & > li > .fas {
          color: var( --c_blue );
        }
      }

      li {
        &:hover > a {
          @include bp( 1024 ) {
            background-color: transparent;//rgba( black, 0.1 );
          }
        }

        a {
          @include colored-links( c_blue, c_blue, c_blue );
        }

        ul {
          background-color: rgba( black, 0.6 );

          li {
            a {
              @include colored-links( c_white, c_yellow, c_white );
            }
          }
        }
      }
    }
  }

  .social-menu {
    a {
      @include colored-links( c_blue, c_yellow, c_blue );
    }
  }
}
