.social-menu {
  .social-footer {
    margin: 0;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 1em 19px;

    @include colored-links( $blue, c_yellow, $blue );
  }

  .footer-navigation & {
    a {
      @include colored-links( c_white, c_yellow, c_white );
    }
  }
}

.home {
  .social-menu {
    a {
      @include colored-links( c_white, c_yellow, c_white );
    }
  }
}
